{% extends 'base.html' %}
{% load humanize %}

{% block content %}
    <div class="container m-3 p-2">
        <h2>INDEX VIEW TEMPLATES</h2>
    </div>
    <div class="row card-deck">
    {% for object in object_list %}
        <div class="col-md-12">
          <div class="card mt-2 mb-2">
    <!--        <img src="..." class="card-img-top" alt="...">-->
            <div class="card-body">
              <h5 class="card-title"><a href="{% url 'posts:detail' object.id %}">{{ object.title }}</a></h5>
                <p class="card-text">{{ object.content|linebreaks|truncatechars:70 }}</p>
                <a href="{% url 'posts:detail' object.id %}" class="btn btn-primary">View</a>
            </div>
            <div class="card-footer">
              <small class="text-muted">Created at :  {{ object.timestamp|naturaltime }}</small>
            </div>
          </div>
        </div>
    {% endfor %}

    <div class="mx-auto">
        <div class="pagination mt-3 mb-3">
            <span class="step-links">
                {% if object_list.has_previous %}
                    <a href="?{{ page_request_var }}=1">&laquo; first</a>
                    <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
                </span>

                {% if object_list.has_next %}
                    <a href="?{{ page_request_var }}={{ object_list.next_page_number }}">next</a>
                    <a href="?{{ page_request_var }}={{ object_list.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
    </div>
{% endblock content %}